* {
  font-family: "Lucida Grande","Lucida Sans Unicode", "微軟正黑體", "Microsoft JhengHei", Helvetica, Arial, sans-serif;
}

hr {
  margin: 10px 0;
}

[v-cloak] {
  display: none;
}

.clearfix {
  clear: both;
}

.navbar-default {
  background-color: rgba(255, 255, 255, .3);
  border-color: transparent;
  z-index: 10;
}

.navbar .logo {
  height: 50px;
  padding: 6px;
}

.navbar .nav li a {
  color: #000000;
  font-size: 18px;
  background-color: initial !important;
}

.navbar .nav li.active a,
.navbar .nav li.active:hover a {
  color: #00bcdb;
}

.navbar .nav li {
  border-top: 5px transparent solid;
}

.navbar .nav li {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}

.navbar .nav li:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  background: #00bcdb;
  height: 4px;
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.navbar .nav li.active:before,
.navbar .nav li:hover:before,
.navbar .nav li:focus:before,
.navbar .nav li:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.route .setting-label,
.info .setting-label {
  vertical-align: text-bottom;
}

.btn-route.active[data-route=avg] {
  background-color: #536b7d;
}

.btn-route.active[data-route=hko] {
  background-color: #d192a0;
}

.btn-route.active[data-route=kma] {
  background-color: #b16262;
}

.btn-route.active[data-route=jma] {
  background-color: #cf916c;
}

.btn-route.active[data-route=nmc] {
  background-color: #d4b868;
}

.btn-route.active[data-route=cwb] {
  background-color: #579c90;
}

.btn-route.active[data-route=jtwc] {
  background-color: #6cafcd;
}

.btn-route.active {
  background-color: #555;
}

.btn-minimize {
  position: absolute;
  left: -5%;
  top: 50%;
  height: 4em;
  width: 2em;
  background-color: rgba(180, 180, 180, .2);
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  outline: 0;
}

.info-box {
  display: none;
  position: fixed;
  top: 50px;
  right: 2%;
  z-index: 1;
  font-size: .8em;
  color: #595757;
  transition: right .5s;
}

.info-box.out {
  right: -28%;
}

.info-box .well {
  padding: 3px 19px;
  background-color: rgba(180, 180, 180, .2);
  margin: 5px;
}

.info-title {
  display: table;
  padding: 0 5px;
}

.info-title .exclamation-triangle {
  padding-top: 10px;
  width: 90%;
}

.table-cell {
  display: table-cell;
}

.headline .first-title {
  margin-top: 0;
  vertical-align: middle;
  font-size: 3em;
  font-weight: bold;
}

.headline .second-title {
  font-weight: bold;
  margin-bottom: 3px;
}

h2.second-title {
  margin: 0;
  padding: 0 10px 0 5px;
  vertical-align: middle;
  font-size: 2em;
}

.alert-box {
  text-align: center;
  padding: 5px;
}

.alert-box .title {
  font-size: 1.3em;
  margin: 5px;
}

.alert-box .status {
  display: inline-block;
  border-radius: 5px;
  width: 2.4em;
  color: #ffffff;
  font-size: 2em;
}

.alert-box.sea .status.on {
  background-color: #5681a2;
}

.alert-box.land .status.on {
  background-color: #ab6866;
}

.alert-box .status.off {
  background-color: #595757;
}

.typhoon-info .title {
  margin-top: 0.5rem;
  margin-bottom: 4px;
  font-size: 2.5em;
  font-weight: bold;
}

.typhoon-info .number {
  display: inline-block;
  float: left;
  border: 1px #aaaaaa solid;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
  font-size: 4em;
  line-height: 1;
}

.typhoon-info .level {
  padding: 2px 3px;
  font-size: 15px;
  border-radius: 4px;
}

.typhoon-info .level .level-text {
  display: inline-block;
  transform: skew(-6deg);
}

.typhoon-info .level.high {
  background-color: #ab6866;
  color: #ffffff;
}

.typhoon-info .level.mid {
  background-color: #cb9672;
  color: #ffffff;
}

.typhoon-info .level.low {
  background-color: #7bb6d3;
  color: #ffffff;
}

.typhoon-info .impact-level {
  display: inline-block;
  float: right;
  padding: 5px;
  margin: 1.1em 0;
  border-radius: 3px;
  color: #ffffff;
  background-color: #888888;
  text-align: center;
}

.typhoon-info .impact-level.high {
  background-color: #ab6866;
}

.typhoon-info .impact-level.mid {
  background-color: #cb9672;
}

.typhoon-info .impact-level.low {
  background-color: #7bb6d3;
}

.impact-level .title {
  font-size: 1.3em;
}

.impact-level .level-text {
  font-size: 6em;
  font-weight: bold;
  line-height: 1;
}

.typhoon-info .detail {
  display: inline-block;
  margin-top: 0.2em;
  font-size: 1.1em;
}

.typhoon-info .detail .data {
  margin-top: 5px;
  border-left: 1px #cccccc solid;
  padding-left: 1em;
}

.well h5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.selector {
  font-size: 14px;
}

.selector h5 {
  display: inline-block;
  padding-right: 10px;
  border-right: 1px #cccccc solid;
  vertical-align: middle;
}

.selector .inline-selector {
  font-size: 14px;
  display: inline-block;
  padding-left: 15px;
  vertical-align: middle;
}

.btn-route {
  width: 1.2em;
  height: 1.2em;
  border: 0px #eeeeee solid;
  border-radius: 3px;
  background-color: #ffffff;
  outline: none;
  vertical-align: middle;
}

.routes-list {
  display: flex;
}

.routes-list-part {
  display: flex;
  flex-direction: column;
}

input[type=radio] {
  display: none;
}

input[type=radio] + label span {
  display: inline-block;
  background-color: #ffffff;
  width: 1.2em;
  height: 1.2em;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 3px;
}

input[type=radio]:checked + label span {
  background-color: #555;
}
