svg {
  position: absolute;
  top: -50px;
  height: calc(100% + 50px);
}
.city g,
.info,
.point {
  /* display: none; */
}

/* General style */
.brown {
  fill: #4E4D4D;
}
.green {
  fill: #6B9871;
}
.white {
  fill: #FFFFFF;
}
.grey-white {
  fill: #D3D3D4;
}
.yellow.transparent {
  opacity: 0.3;
  fill: #D9D235;
}
.red.transparent {
  opacity: 0.3;
  fill: #AB6866;
}
.font.small {
  font-size: 14px;
  font-weight: lighter;
}
.font.large {
  font-size: 19px;
}

/* Grid line */

.grid-line {
  /* display: none; */
}
.latitude-line {
  fill: none;
  stroke: #717071;
  opacity: .2;
  stroke-miterlimit: 10;
  stroke-dasharray: 8.005, 8.005;
}
.longitude-line {
  fill: none;
  stroke: #717071;
  opacity: .2;
  stroke-miterlimit: 10;
  stroke-dasharray: 8.036, 8.036;
}
.grid-mark-background {
  fill: #717071;
}

/* Country and city */
.country {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #323333;
}
.city-point {
  fill: #B4B4B5;
  stroke: #717071;
  stroke-width: 3;
  stroke-miterlimit: 10;
}
.city-name {
  opacity: 0.8;
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
}
.city-name-background {
  fill: #717071;
}

/* Route */
.route {
  fill: none;
  stroke-width: 3;
  stroke-miterlimit: 10;
}
.route .hko {
  stroke: #C795A2;
}
.route .kma {
  stroke: #A76664;
}
.route .cwb {
  stroke: #6B9871;
}
.route .jtwc {
  stroke: #7AB0CA;
}
.route .nmc {
  stroke: #D2B86F;
}
.route .jma {
  stroke: #C69370;
}

/* Point of route */
.point .jtwc {
  fill: #7AB0CA;
}
.point .jma {
  fill: #C69370;
}
.point .hko {
  fill: #C795A2;
}
.point .kma {
  fill: #A76664;
}
.point .nmc {
  fill: #D2B86F;
}
.point .cwb {
  fill: #6B9871;
}

/* Date of route */
.date-border {
  opacity: 0.5;
  fill: none;
  stroke: #546A7C;
  stroke-miterlimit: 10;
}
.week-background {
  fill: #546A7C;
}
.date-background {
  fill: #7AB0CA;
}
.typhoon-level-background {
  fill: #C69370;
}